/* QDialog QLineEdit {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    padding: 12px;
    background-color: #fbfbfb;
    color: #333333;
} */

QLineEdit {
    border: 2px solid #e5e5e5;
    border-radius: 15px;
    padding: 12px;
    background-color: #fbfbfb;
    color: #333333;
}